.profile{
  height: auto;
  max-width: 50%;
  border-radius: 4px;
  display: block;
  float:left;
  /* margin-left: auto;
  margin-right:auto; */
}

.description{
  /* margin-top: 50px; */
  padding-left: 20px;
  font-size: 24px;
}

.container{
  display:flex;
  align-items: center;
  justify-content: left;
}

.campus{
  height: auto;
  max-width: 50%;
  border-radius: 4px;
  display: block;
  float:left;
}

.cats{
  height: auto;
  max-width: 50%;
  border-radius: 4px;
  display: block;
  float:left;
}

.grid-container{
  display: grid;
  height: 400px;
  grid-template-columns: auto auto auto;
  align-content: space-evenly;
  gap:40px;
  padding:10px;

}

.worksample{
  height: auto;
  max-width: 50%;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right:auto;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_text */
/* .container{
  position: relative;
  text-align: center;
  color: #f2f2f2;
} */

/* .intro{
  position: absolute;
  top:50%;
  left:15%;
  transform: translate(-50%,-50%);
} */

/* .campus .cats{
  position: relative;
  text-align: center;
} */

/* .description{
  position: relative;
  text-align: center;
} */

video {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  max-width: 50%;
  height: auto;
  /* float: block; */
}

h1,h2,h3,h4,body{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.title{
  font-weight: bold;
  background: #f3f3f3;
}

/* .topnav{
  background-color: #333333;
  overflow: hhidden;
}

.topnav a{
  float: left;
  color:#f2f2f2;
  text-align:center;
  padding:16px 16px;
  font-size: 16px;
}

.topnav a:hover{
  background-color: #dddddd;
  color:#000000;
}
.topnav a.active{
  background-color: #0884ef;
  color:white
} */

/* https://www.youtube.com/watch?v=-UxqoVQsvCA */
.navigation{
  background-color: #041347;
  border-radius:4px;
  list-style-type: none;
  margin:0px;
  padding: 0px;
  /* overflow: auto; */
  text-align: center;
}

.navigation li{
  /* float: left; */
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.navigation li a{
  display: block;
  text-decoration: none;
  color:#f2f2f2;
  padding: 16px 33px;
}

.navigation li a:hover{
  background-color: #2a3663;
}

/* https://learn.shayhowe.com/html-css/positioning-content/ */
.cv{
  float: left;
  width: 60%;
}

/* aside{
  float: right;
  width: 30%;
} */
.right{
  float:right;
  width:30%
}

#map {
  height:800px;
  width: 100%;
}

/* media query for screens */
@media only screen and (min-width: 1024px) and (max-width: 1728px) {
  p{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
  }
  h1{
    font-size: 32px;
  }
  h2{
    font-size:26px;
  }
  h3{
    font-size:22px;
  }
  h4{
    font-size:20px;
  }
  nav li{
    font-size:26px;
  }
  ul li{
    font-size:18px;
  }
  video {
  display: block;
  max-width: 50%;
  height: auto;
  }
  .profile{
  height: auto;
  max-width: 50%;
  border-radius: 4px;
  display: block;
  float:left;
  }
  .campus{
  height: auto;
  max-width: 50%;
  border-radius: 4px;
  display: block;
  float:left;
  }
  .cats{
    height: auto;
    max-width: 50%;
    border-radius: 4px;
    display: block;
    float:left;
  }

}

/* media query for smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
